<mat-progress-bar *ngIf="isLoaded == false" mode="indeterminate" color="accent"></mat-progress-bar>
<div *ngIf="isLoaded == true">
    <h1 class="p-3 text-center center" *ngIf="allTasks?.length == 0">No Tasks yet for you.</h1>
    <div class="container" *ngIf="allTasks?.length != 0">
        <h1 class="center">All task assigned to you.</h1>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">S. No.</th>
                    <th scope="col">Task Name</th>
                    <th scope="col">Status (pending/working/completed)</th>
                    <th scope="col">Builder Name</th>
                    <th scope="col">Architect Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of allTasks; let i = index" [style.background-color]=" task.progress == 1 ? '#EAEAEA' : (task.progress == 2 ? '#F4E185' : '#009DAE')">
                    <td scope="row">{{ i+1 }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ TASK_PROGRESS.get(task.progress) }}</td>
                    <td>{{ task.createdBy.username }}</td>
                    <td>{{ task.assignedTo.username }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>